.fillter-container{
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-background-radius: 6px;

}
.fillter-container Button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: "Black";
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-background-radius: 20px;
    -fx-border-radius: 6px;
}
.fillter-container ComboBox {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: "Black";
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.fillter-container ToggleButton {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: "Black";
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.fillter-container ToggleButton:selected {
    -fx-background-color: #CBCBCB;
}
.fillter-container ToggleButton:hover, .fillter-container ComboBox:hover, .fillter-container Button:hover {
    -fx-background-color: #CBCBCB;

}
.image{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.itemlabel{
-fx-background_color:"white";
    -fx-text-fill: "Black";
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}
.iteminfo{
-fx-background_color:"white";
    -fx-text-fill: A9A9A9;
    -fx-font-weight: bold;
    -fx-font-size: 0.8em;

}


